html
    head
        title Email <Subscription></Subscription>
    body
        form(action="/data" method="post")
            table
                tr
                    td
                        label(for="username") Username:
                    td
                        input(id="username" name="username" required type="text")
                tr
                    td
                        label(for="email") Email:
                    td
                        input(id="email" name="email" required type="email")
                tr
                    td(colspan=2)
                        center
                            input(type="submit" value="Submit")