html
    body
        form(action="/login" method="post")
            table
                tr
                    td
                        label(for="username") Username:
                    td
                        input(id="username" name="username" required type="text")
                tr
                    td
                        label(for="password") Password:
                    td
                        input(id="password" name="password" required type="password")
                tr
                    td(colspan=2)
                        center
                            input(type="submit" value="Submit")