html
    head
        title Student Information Form
    body
        form(action="/submit" method="post")
            table
                tr
                    td
                        label(for="name") Name:
                    td(colspan=3)
                        input(id="name" name="name" required type="text")
                tr
                    td
                        label(for="email") Email:
                    td(colspan=3)
                        input(id="email" name="email" required type="email")
                tr
                    td
                        label(for="course") Course:
                    td
                        input(id="CE" name="course" required type="radio" value="CE")
                        label(for="CE") CE
                    td
                        input(id="IT" name="course" required type="radio" value="IT")
                        label(for="IT") IT
                    td
                        input(id="CSE" name="course" required type="radio" value="CSE")
                        label(for="CSE") CSE
                tr(align='center')
                    td(colspan=4)
                        input(type="submit" value="Submit")